In [ ]:
import pandas as pd
import numpy as np
from math import sqrt

In [64]:
sales_train = pd.read_csv("C:\\Users\\SAIKIRAN MATLA\\Downloads\\Kaggle\\sales_train.csv")
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [67]:
sales_test=pd.read_csv("C:\\Users\\SAIKIRAN MATLA\\Downloads\\Kaggle\\test.csv")
sales_test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [65]:
sales_train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [ ]:
sales_train.columns

In [ ]:
y=sales_train.item_cnt_day

In [ ]:
sales_features=['shop_id', 'item_price', 'item_id']

In [ ]:
X=sales_train[sales_features]

In [ ]:
X.describe()

In [ ]:
X.head()

In [47]:
from sklearn.tree import DecisionTreeRegressor
sales_model = DecisionTreeRegressor(random_state=1)
sales_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [48]:
print(X.head())

   shop_id  item_price  item_id
0       59      999.00    22154
1       25      899.00     2552
2       25      899.00     2552
3       25     1709.05     2554
4       25     1099.00     2555

In [49]:
print(sales_model.predict(X.head()))

[1. 0. 0. 1. 1.]

In [57]:
from sklearn.metrics import mean_absolute_error
predicted_sales= sales_model.predict(X)
mse=mean_absolute_error(y,predicted_sales)
rsme=sqrt(mse)
print(rsme)

0.5004828895159067

In [58]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
sales_model= DecisionTreeRegressor()
sales_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [60]:
val_predictions=sales_model.predict(val_X)
mse_val=mean_absolute_error(val_y, val_predictions)
rsme=sqrt(mse_val)
print(rsme)

0.551027184186176

In [70]:
output= pd.DataFrame({'ID': sales_test.ID, 'item_cnt_month': rsme})
output.to_csv('my_kaggle.csv', index=False)